/*---------------------------------------------------------------------------*\
  #UTILITIES > #SPACING
\*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*\
  #UTILITIES > #SPACING > #MARGIN
\*---------------------------------------------------------------------------*/

.u-margin--xs {
  margin: $space-xs;
}

.u-margin--top-xs {
  margin-top: $space-xs;
}

.u-margin--right-xs {
  margin-right: $space-xs;
}

.u-margin--bottom-xs {
  margin-bottom: $space-xs;
}

.u-margin--left-xs {
  margin-left: $space-xs;
}

.u-margin--vertical-xs {
  margin-top: $space-xs;
  margin-bottom: $space-xs;
}

.u-margin--horizontal-xs {
  margin-right: $space-xs;
  margin-left: $space-xs;
}


.u-margin--s {
  margin: $space-s;
}

.u-margin--top-s {
  margin-top: $space-s;
}

.u-margin--right-s {
  margin-right: $space-s;
}

.u-margin--bottom-s {
  margin-bottom: $space-s;
}

.u-margin--left-s {
  margin-left: $space-s;
}

.u-margin--vertical-s {
  margin-top: $space-s;
  margin-bottom: $space-s;
}

.u-margin--horizontal-s {
  margin-right: $space-s;
  margin-left: $space-s;
}


.u-margin--m {
  margin: $space-m;
}

.u-margin--top-m {
  margin-top: $space-m;
}

.u-margin--right-m {
  margin-right: $space-m;
}

.u-margin--bottom-m {
  margin-bottom: $space-m;
}

.u-margin--left-m {
  margin-left: $space-m;
}

.u-margin--vertical-m {
  margin-top: $space-m;
  margin-bottom: $space-m;
}

.u-margin--horizontal-m {
  margin-right: $space-m;
  margin-left: $space-m;
}


.u-margin--l {
  margin: $space-l;
}

.u-margin--top-l {
  margin-top: $space-l;
}

.u-margin--right-l {
  margin-right: $space-l;
}

.u-margin--bottom-l {
  margin-bottom: $space-l;
}

.u-margin--left-l {
  margin-left: $space-l;
}

.u-margin--vertical-l {
  margin-top: $space-l;
  margin-bottom: $space-l;
}

.u-margin--horizontal-l {
  margin-right: $space-l;
  margin-left: $space-l;
}


.u-margin--xl {
  margin: $space-xl;
}

.u-margin--top-xl {
  margin-top: $space-xl;
}

.u-margin--right-xl {
  margin-right: $space-xl;
}

.u-margin--bottom-xl {
  margin-bottom: $space-xl;
}

.u-margin--left-xl {
  margin-left: $space-xl;
}

.u-margin--vertical-xl {
  margin-top: $space-xl;
  margin-bottom: $space-xl;
}

.u-margin--horizontal-xl {
  margin-right: $space-xl;
  margin-left: $space-xl;
}


.u-margin--none {
  margin: 0;
}

.u-margin--top-none {
  margin-top: 0;
}

.u-margin--right-none {
  margin-right: 0;
}

.u-margin--bottom-none {
  margin-bottom: 0;
}

.u-margin--left-none {
  margin-left: 0;
}

.u-margin--vertical-none {
  margin-top: 0;
  margin-bottom: 0;
}

.u-margin--horizontal-none {
  margin-right: 0;
  margin-left: 0;
}





/*---------------------------------------------------------------------------*\
  #UTILITIES > #SPACING > #PADDING
\*---------------------------------------------------------------------------*/

.u-padding--top-xs {
  padding-top: $space-xs;
}

.u-padding--right-xs {
  padding-right: $space-xs;
}

.u-padding--bottom-xs {
  padding-bottom: $space-xs;
}

.u-padding--left-xs {
  padding-left: $space-xs;
}

.u-padding--vertical-xs {
  padding-top: $space-xs;
  padding-bottom: $space-xs;
}

.u-padding--horizontal-xs {
  padding-right: $space-xs;
  padding-left: $space-xs;
}


.u-padding--top-s {
  padding-top: $space-s;
}

.u-padding--right-s {
  padding-right: $space-s;
}

.u-padding--bottom-s {
  padding-bottom: $space-s;
}

.u-padding--left-s {
  padding-left: $space-s;
}

.u-padding--vertical-s {
  padding-top: $space-s;
  padding-bottom: $space-s;
}

.u-padding--horizontal-s {
  padding-right: $space-s;
  padding-left: $space-s;
}


.u-padding--top {
  padding-top: $space-m;
}

.u-padding--right {
  padding-right: $space-m;
}

.u-padding--bottom {
  padding-bottom: $space-m;
}

.u-padding--left {
  padding-left: $space-m;
}

.u-padding--vertical {
  padding-top: $space-m;
  padding-bottom: $space-m;
}

.u-padding--horizontal {
  padding-right: $space-m;
  padding-left: $space-m;
}


.u-padding--top-l {
  padding-top: $space-l;
}

.u-padding--right-l {
  padding-right: $space-l;
}

.u-padding--bottom-l {
  padding-bottom: $space-l;
}

.u-padding--left-l {
  padding-left: $space-l;
}

.u-padding--vertical-l {
  padding-top: $space-l;
  padding-bottom: $space-l;
}

.u-padding--horizontal-l {
  padding-right: $space-l;
  padding-left: $space-l;
}


.u-padding--top-xl {
  padding-top: $space-xl;
}

.u-padding--right-xl {
  padding-right: $space-xl;
}

.u-padding--bottom-xl {
  padding-bottom: $space-xl;
}

.u-padding--left-xl {
  padding-left: $space-xl;
}

.u-padding--vertical-xl {
  padding-top: $space-xl;
  padding-bottom: $space-xl;
}

.u-padding--horizontal-xl {
  padding-right: $space-xl;
  padding-left: $space-xl;
}


.u-padding--top-none {
  padding-top: 0;
}

.u-padding--right-none {
  padding-right: 0;
}

.u-padding--bottom-none {
  padding-bottom: 0;
}

.u-padding--left-none {
  padding-left: 0;
}

.u-padding--vertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.u-padding--horizontal-none {
  padding-right: 0;
  padding-left: 0;
}
